.carousel-item {
  height: 80vh;
  width: 100vw;
}
.carousel-item img {
  display: block;
  height: 80vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.nav-item a {
  color: #fff;
}